import { Routes } from '@angular/router';
import { HomeComponent } from './home/home.component';

export const routes: Routes = [
  {
    path: '',
    data: { template: 'app' },
    component: HomeComponent,
  },
  {
    path: 'home',
    component: HomeComponent,
  },
  // Example of a route guarded by an ACL action:
  // {
  //   path: 'protected',
  //   component: ProtectedComponent,
  //   canActivate: [permissionGuard],
  //   data: { action: 'sysadmin' },
  // },
];
