<rlb-app modal-container-id="modal-c-1" toast-container-ids="toast-c-1" [navbarComponents]="navbarComponents">

  <router-outlet></router-outlet>

  <div class="container">
    <div class="row my-2">
      <div class="col-md-12">
        <rlb-tabs class="mt-4">
          <rlb-tab target="tab-auth">Auth</rlb-tab>
          <rlb-tab target="tab-navbar">Navbar</rlb-tab>
          <rlb-tab target="tab-sidebar">Sidebar</rlb-tab>
          <rlb-tab target="tab-apps">Apps</rlb-tab>
        </rlb-tabs>
        <rlb-tab-content>
          <rlb-tab-pane id="tab-auth">
            <h3>Auth store</h3>
            <button class="m-2" rlb-button (click)="login()">Login</button>
            <button class="m-2" rlb-button (click)="logout()">Logout</button>
            <div>
              <span class="m-2">Is auth: {{ (auth | async)?.isAuth ? 'yes' : 'no' }}</span>
              <span class="d-block m-2">Access token:</span>
              <pre class="m-2">{{ (auth | async)?.accessToken }}</pre>
              <span class="d-block m-2">Id token:</span>
              <pre class="m-2">{{ (auth | async)?.idToken }}</pre>
              <span class="d-block m-2">User:</span>
              <pre class="m-2">{{ (auth | async)?.user| json }}</pre>
            </div>
          </rlb-tab-pane>
          <rlb-tab-pane id="tab-sidebar">
            <h3>Sidebar store</h3>
            <div class="row my-2">
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('sideVisible',true)">Show sidebar</button>
              </div>
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('sideVisible',false)">Hide sidebar</button>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('sideLogin',true)">Show login</button>
              </div>
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('sideLogin',false)">Hide login</button>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('sideSearch',true)">Show search</button>
              </div>
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('sideSearch',false)">Hide search</button>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('sideSettings', true)">
                  Show settings
                </button>
              </div>
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('sideSettings',false)">
                  Hide settings
                </button>
              </div>
            </div>
          </rlb-tab-pane>
          <rlb-tab-pane id="tab-navbar">
            <h3>Navbar store</h3>
            <div class="row my-2">
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('navVisible',true)">Show navbar</button>
              </div>
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('navVisible',false)">Hide navbar</button>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('navLogin',true)">Show login</button>
              </div>
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('navLogin',false)">Hide login</button>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('navSearch',true)">Show search</button>
              </div>
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('navSearch',false)">Hide search</button>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('navSettings', true)">
                  Show settings
                </button>
              </div>
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('navSettings',false)">
                  Hide settings
                </button>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('navLeftItems', 'add')">
                  Add demo item (left)
                </button>
              </div>
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('navLeftItems','clear')">
                  Clear items (left)
                </button>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('navRightItems', 'add')">
                  Add demo item (right)
                </button>
              </div>
              <div class="col-2">
                <button class="w-100" rlb-button (click)="applyStore('navRightItems','clear')">
                  Clear items (right)
                </button>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-4">
                <rlb-input class="w-100" type="text" placeholder="Header" #box
                  (keyup.enter)="applyStore('navHeader', box.value)"></rlb-input>
              </div>
            </div>
          </rlb-tab-pane>
          <rlb-tab-pane id="tab-apps">
            <h3>Apps store</h3>

          </rlb-tab-pane>
        </rlb-tab-content>
      </div>
    </div>
  </div>

</rlb-app>